.mainTitle {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: auto;
}
.safeArea {
  display: flex;
  flex-flow: row;
}
.switch{
  position: fixed;
  top: 0;
  display: flex;
  flex-flow: column;
}

